server:  
  port: ${APPLICATION_PORT}
  servlet:
    context-path: "/todo/api/"

spring:
  application: 
    name: todoapp
  datasource:
    password: SuperSecret
    url: jdbc:h2:mem:todoappdb
    username: sa
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true
    show_sql: true
  output:
    ansi: #SALIDA ESTANDAR
      enabled: ALWAYS #pone colores a nuestro log, lo hace más amigable a la vista


logging:
  level:
    root: WARN
    org.springframework.web: ERROR
    org.hibernate: ERROR #solo manda informacion si falla algo
    com.demo.steps: DEBUG #aquí si mandame información de debug, activa debug para mis clases

##variables de entorno
myYamlValue: "Step by step in YAML"
